<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/s/st/nerdfonts.css">
    <link rel="stylesheet" href="/s/st/pygments.css">
    <link rel="stylesheet" href="/s/st/main.css">
    <link rel="icon" href="/s/img/duck.png" type="image/png">
    <title>{{{TITLE}}} | ducksel.xyz</title>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script>
        window.MathJax = {
          tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']],
            displayMath: [['$$', '$$'], ['\\[', '\\]']]
          },
          svg: {
            fontCache: 'global'
          }
        };
    </script>
</head>

<body>
    <p class="c2 b4">
        The website of
        <span class="c7">󰇥Ducksel󰇥</span>
    </p>
    <navbar>

        <a href="/#">Home</a>
        <a href="/blog#">Blog</a>
        <a href="/non-blog#">Non-Blog</a>

        <span class="c2">&#x2502;</span>

        <a class="c6" target="_blank" href="https://tumblr.com/helloiamduck/"     > Tumblr</a>
        <a class="c2" target="_blank" href="https://github.com/D-u-c-k-s-e-l/"    > Github</a>
        <a class="c5" target="_blank" href="https://reddit.com/u/ClerkEither6428/"> Reddit</a>
        <a class="c1" target="_blank" href="https://youtube.com/@ducksel_/"       > Youtube</a>
        <a class="c3" href="/contact#"> Contact me</a>
    </navbar>

    <p class="c0">~--</p>

    <div class="content">
        {{{CONTENT}}}
    </div>

    <p class="c0">--~</p>

    <footer>
        <p>Copyright 2025 by Ducksel. All Rights Reserved.</p>
        <p>Icons via <a href="https://www.nerdfonts.com/">Nerd Fonts</a>.</p>
    </footer>
</body>

</html>
